* {
	font-family: 'Open Sans', sans-serif;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.4);
	border: none;
	min-height: 70px;
	position: absolute;
	top: 0px;
	width: 100%;
}

.navbar-brand, .navbar-toggle {
	margin-top: 0.6em;
	text-transform: uppercase;
}

.navbar-right li a {
	margin-top: 0.6em;
	text-transform: uppercase;
}
.navbar .container-fluid {
	width: 90%;
}

h1 {
	color: #fff;
	text-align: center;
	top: 230px;
	font-family: 'Cookie', cursive;
	font-size: 5em;
	position: absolute;
	width: 100%;
}

.center {
	text-align: center;
}

.facebook {
	text-align: center;
	color: #fff;
	position: absolute;
	width: 100%;
	top: 330px;

}

.thumbnail {
	margin-left: 5%;
}
/*HOMEPAGE*/

#featured {
	background: #f2f2f2;
	text-align: center;
	padding: 1em 0em;
}
#featured section {
	margin: 0px auto;
}

#last {
	background: #fff;
}
#last h2 {
	margin-top: 1em;
}
#last .col-md-4 {
	margin-top: 1em;
}
.pennant
{
	color: #bbb;
	font-size: 4em;
}

.main-page {
	padding-top: 100px;
}

.form {
	width: 60%;
	margin: 0 auto;
}
.has-error {
	color: red;
}

.form-delete {
	display: inline-block;
}

/*EFFETS CSS*/