* {
	font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar-default {
	border: none;
	position: absolute;
	top: 0px;
	width: 100%;
}

.navbar-default, .navOther, .nav .open>a {
	height: 50px;
}


.navHome {
	background-color: rgba(0, 0, 0, 0.4);
}

.navOther {
	background-color: rgba(0, 0, 0, 1);
}

.navbar-brand, .navbar-toggle, .navbar-right li a {
	text-transform: uppercase;
}

.navbar .container-fluid {
	width: 90%;
}

.navbar-right li .nav-link {
	padding-top: 1.2em;
	margin: 0;
}

/* END OF NAVBAR */

.main-title {
	color: #fff;
	text-align: center;
	top: 230px;
	font-family: 'Cookie', cursive;
	font-size: 5em;
	position: absolute;
	width: 100%;
}

.center, #featured, .facebook {
	text-align: center;
}

.facebook {
	color: #fff;
	position: absolute;
	width: 100%;
	top: 330px;

}

.thumbnail {
	margin-left: 5%;
}

/*HOMEPAGE*/

#featured {
	background: #f2f2f2;
	padding: 1em 0em;
}
#featured section {
	margin: 0px auto;
}

#last {
	background: #fff;
}
#last h2, #last .col-md-4 {
	margin-top: 1em;
}

.pennant {
	color: #bbb;
	font-size: 4em;
}

.main-page {
	padding-top: 70px;
}

.form {
	width: 60%;
	margin: 0 auto;
}
.has-error {
	color: red;
}

.form-delete {
	display: inline-block;
}

